<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Micro Engine - <%= blocks.title %></title>
	<link rel="shortcut icon" href="/micro/images/favicon.ico" type="image/x-icon">
	<script src="/micro/js/lib/jquery-2.1.3.min.js"></script>
	<link rel="stylesheet" href="/micro/css/lib/font-awesome.min.css">
	<link rel="stylesheet" href="/micro/css/lib/ionicons.min.css">
	<link rel="stylesheet" href="/micro/css/style.css">
</head>
<body>
	<main class="app" role="main">
		<%-partial('../partials/loading')%>
		<%-partial('../partials/header')%>
		<%-partial('../partials/menu')%>
			<div class="app-content container">
				<%- body -%>
			</div>
		<%-partial('../partials/messenger')%>
	</main>
	
	<script src="/micro/js/lib/chart.min.js"></script>
	<script src="/micro/js/lib/moment.min.js"></script>
	<script src="/micro/js/lib/pikaday.js"></script>
	<script src="/micro/js/script.js"></script>
</body>
</html>