<% layout('../../layout/store') -%>
<% block('title', pageNameRu) -%>

<div class="row">
	<div class="col-ph-12">
		<div class="app-card store clr">
			<div class="app-card-category">
				<% if(authUser._group[0].lvl == 1 || authUser._group[0].lvl == 2){ %>
					<div class="category-panel-tools clr">
						<a data-modal="add-store-category" class="tool-add"></a>
						<a data-tool="category-edit" class="tool-edit disabled"></a>
						<a data-tool="category-remove" data-modal="remove-store-category" class="tool-remove disabled"></a>
					</div>
				<% } %>
				<div id="store-category"></div>
			</div>
			<div class="app-card-content">
				<div class="card-title clr">
					<div class="card-header">
						<h1>Складской <span>учет</span></h1>
					</div>
					<div class="panel-tools goods-panel">
						<a data-tool="card-resize" class="tool-resize"></a>
						<a class="trigger"><span></span></a>
						<div class="tools-more">
							<% if(authUser._group[0].lvl == 1 || authUser._group[0].lvl == 2){ %>
								<a data-modal="add-store-goods" class="tool-add"></a>
								<a data-modal="remove-store-goods" data-tool="remove" class="tool-remove disabled"></a>
								<a data-modal="edit-store-goods" data-tool="edit" class="tool-edit disabled"></a>
								<a data-modal="supply-store-goods" data-tool="supply" class="tool-supply disabled"></a>
							<% } %>
							<% if(authUser._group[0].lvl == 1 || authUser._group[0].lvl == 3){ %>
								<a data-modal="sale-store-goods" data-tool="sale" class="tool-sale disabled"></a>
							<% } %>
						</div>
					</div>
				</div>
				<div class="card-content">
					<table class="app-table " table-store="goods">
						<thead>
							<tr>
								<th></th>
								<th>Наименование</th>
								<th>Кол-во</th>
								<th>Ед.изм</th>
								<th>Закуп.стоимость</th>
								<th>Наценка</th>
								<th>Цена</th>
								<th>Всего</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="card-title clr">
					<div class="card-header">
						<h1>Движение <span>товара</span></h1>
					</div>
					<% if(authUser._group[0].lvl == 1){ %>
						<div class="panel-tools turnover-panel">
							<a class="trigger"><span></span></a>
							<div class="tools-more">
								<a data-modal="remove-store-turnover" data-tool="remove" class="tool-remove disabled"></a>
							</div>
						</div>
					<% } %>
				</div>
				<div class="card-content">
					<table class="app-table" table-store="turnover">
						<thead>
							<tr>
								<th></th>
								<th>Тип</th>
								<th>№ документа</th>
								<th>Дата</th>
								<th>Кол-во</th>
								<th>Закуп. стоимость</th>
								<th>Сумма</th>
								<th>Поставщик</th>
								<th>Комментарий</th>
								<th>Провел</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>






<!-- Goods -->

<div class="cd-modal" id="edit-store-goods">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Редактирование <span>товара</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="edit-store-goods">
			<div class="cd-modal-body">
				<div class="form-group hide">
					<label>ID</label>
					<input type="text" name="id" class="form-control">
				</div>
				<div class="form-group">
					<label>Название</label>
					<input type="text" name="name" class="form-control" placeholder="Название товара">
				</div>
				<div class="form-group">
					<label>Еденица измерения</label>
					<select name="unit" class="form-control">
						<% units.forEach(function(unit) { %>
        					<option value="<%= unit.measure %>"><%= unit.measure %></option>
   						 <% }); %>
					</select>
				</div>
				<div class="form-group">
					<label>Наценка</label>
					<input type="text" name="markup" class="form-control" placeholder="Торговая наценка">
				</div>
			</div>
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Изменить</button>
				<button class="btn cd-modal-close" type="reset">Отмена</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="sale-store-goods">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Продажа <span>товара</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form>
			<div class="cd-modal-body">
				<div class="form-group hide">
					<label>ID</label>
					<input type="text" name="id" class="form-control">
				</div>
				<div class="form-group">
					<label>Количество</label>
					<input type="text" name="qty" class="form-control" placeholder="Количество товара" id="goods-sale-qty">
				</div>
				<div class="form-group readonly">
					<label>Цена</label>
					<input type="text" name="price" class="form-control" placeholder="Цена товара" id="goods-sale-price" readonly>
				</div>
				<div class="form-group readonly">
					<label>Всего</label>
					<input type="text" name="sum" class="form-control" placeholder="Сумма" id="goods-sale-sum" readonly>
				</div>
				<div class="form-group">
					<label>Комментарий</label>
					<textarea name="comment" class="form-control" placeholder="Комментарий" rows="5"></textarea>
				</div>
				<% if(authUser._group[0].lvl == 1){ %>
					<div class="form-group">
						<label>Дата продажи</label>
						<input type="text" name="date" class="datepicker" value="1" placeholder="Дата продажи">
					</div>
				<% } %>
			</div>
			<div class="cd-modal-footer text-right">
				<button class="btn btn-success" type="submit">Продать</button>
				<button class="btn" type="reset">Отчистить</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="supply-store-goods">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Поступление <span>товара</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form>
			<div class="cd-modal-body">
				<div class="form-group hide">
					<label>ID</label>
					<input type="text" name="id" class="form-control">
				</div>
				<div class="form-group hide">
					<label>Sum Purchase Price </label>
					<input type="text" name="sum" class="form-control" id="goods-sum">
				</div>
				<div class="form-group readonly">
					<label>Название</label>
					<input type="text" name="name" class="form-control" placeholder="Название товара" readonly>
				</div>
				<div class="form-group">
					<label>Кол-во</label>
					<input type="text" name="qty" class="form-control" placeholder="Количество товара" id="goods-qty" pattern="a-z0-9" required>
				</div>
				<div class="form-group">
					<label>Закупочная цена</label>
					<input type="text" name="purchaseprice" class="form-control" placeholder="Закупочная цена товара" id="goods-purchaseprice">
				</div>
				<div class="form-group readonly">
					<label>Наценка</label>
					<input type="text" name="markup" class="form-control" placeholder="Торговая наценка" id="goods-markup" readonly>
				</div>
				<div class="form-group readonly">
					<label>Цена</label>
					<input type="text" name="price" class="form-control" placeholder="Цена товара с наценкой" id="goods-price" readonly>
				</div>
				<div class="form-group divider"></div>
				<div class="form-group">
					<label>Поставщик</label>
					<select name="provider" class="form-control">
						<% providers.forEach(function(provider) { %>
        					<option value="<%= provider._id %>"><%= provider.name %></option>
   						 <% }); %>
					</select>
				</div>
				<div class="form-group">
					<label>Номер документа</label>
					<input type="text" name="doc" class="form-control" placeholder="Номер товарной накладной" id="goods-qty">
				</div>
				<div class="form-group">
					<label>Комментарий</label>
					<textarea name="comment" class="form-control" placeholder="Комментарий" rows="5"></textarea>
				</div>
			</div>
			<div class="cd-modal-footer text-right">
				<button class="btn btn-success" type="submit">Добавить</button>
				<button class="btn" type="reset">Отчистить</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="add-store-goods">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Добавить <span>новый товар</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form>
			<div class="cd-modal-body">
				<div class="form-group">
					<label>Название</label>
					<input type="text" name="name" class="form-control" placeholder="Название товара">
				</div>
				<div class="form-group">
					<label>Еденица измерения</label>
					<select name="unit" class="form-control">
						<% units.forEach(function(unit) { %>
        					<option value="<%= unit.measure %>"><%= unit.measure %></option>
   						 <% }); %>
					</select>
				</div>
				<div class="form-group">
					<label>Наценка</label>
					<input type="text" name="markup" class="form-control" placeholder="Торговая наценка">
				</div>
			</div>
			<div class="cd-modal-footer text-right">
				<button class="btn btn-success" type="submit">Добавить</button>
				<button class="btn" type="reset">Отчистить</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="remove-store-goods">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Вы действительно хотите удалить<br> <span>выбранный товар?</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="usersRemove">
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Да</button>
				<button class="btn cd-modal-close" type="reset">Нет</button>
			</div>
		</form>
	</div>
</div>

<!-- Category -->
<div class="cd-modal" id="remove-store-category">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Вы действительно хотите удалить<br> <span>выбранную категорию?</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="usersRemove">
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Да</button>
				<button class="btn cd-modal-close" type="reset">Нет</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="remove-store-turnover">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Вы действительно хотите удалить<br> <span> «движение товара»?</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form id="usersRemove">
			<div class="cd-modal-footer text-center">
				<button class="btn btn-success" type="submit">Да</button>
				<button class="btn cd-modal-close" type="reset">Нет</button>
			</div>
		</form>
	</div>
</div>

<div class="cd-modal" id="add-store-category">
	<div class="cd-modal-container">
		<div class="cd-modal-title">
			<h4>
				Добавить <span>новую категорию</span>
			</h4>
			<button class="cd-modal-close ion-close"></button>
		</div>
		<form>
			<div class="cd-modal-body">
				<div class="form-group">
					<label>Название</label>
					<input type="text" name="name" class="form-control" placeholder="Название категории">
				</div>
			</div>
			<div class="cd-modal-footer text-right">
				<button class="btn btn-success" type="submit">Добавить</button>
				<button class="btn" type="reset">Отчистить</button>
			</div>
		</form>
	</div>
</div>